@charset "UTF-8";
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "../node_modules/bootstrap/scss/bootstrap";


.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/images/pexels-jamshed-ahmad-1316297.jpg);
        background-size: cover;
        filter: brightness(0.2);
    }
    
    *{
        position: relative;
    }

    .hero-scene-content{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }


.text-center h2{
    text-align: center;
    padding: 10px;
    margin: 60px;
    
}

.cards-habitats{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;

}

.container {
    width: 100%; 
}

.services{
    text-align: center;
    margin-bottom: 40px;
}

.bloc-services {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;

}

.card-body1{ 
        display: grid;
        justify-content:center;
        align-content:center;
        justify-items:center; 
        position: relative;
        background-color: black;  
}

.card-body1::before {
    background-image: url(/images/pexels-gleive-marcio-rodrigues-de-souza-7430422.jpg);
    background-size: cover;
    background-position: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.7;
}

h5, p, a{
    isolation: isolate;
}


.card-body2{
    display: grid;
        justify-content:center;
        align-content:center;
        justify-items:center; 
        position: relative;
        background-color: black;

}

.card-body2::before {
    background-image: url(/images/istockphoto-1144208045-612x612.jpg);
    background-size: cover;
    background-position: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.7;

}
    


.card-body3{
    display: grid;
    justify-content:center;
    align-content:center;
    justify-items:center; 
    position: relative;
    background-color: black;
    
}


.card-body3::before {
    background-image: url(/images/istockphoto-936400402-612x612.jpg);
    background-size: cover;
    background-position: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.7;

}




 



   

 